.App {
  text-align: center;
  margin: 0;
  place-items: center;
}
Link{
  text-decoration: none;
}
#sel {
  font-family: Satisfy, cursive;
  font-size: 3em;
  margin: 1em 0;
  color: SandyBrown;
  text-shadow: 0.02em 0.02em 0 Brown, 0 0 0.5em violet;

}
.Title{

display:flex;
 justify-content: space-between;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}


.Side_display{
  margin-top: 10px;
  padding-top: 10px;
  
  display: block;
  align-self:flex-end ;
  padding-right: 40px;
  
}
.gradient__bg {
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
img {
        border-radius: 5%;
    }

.navbar{
  margin-top:10px;
  margin-bottom: 10px;
margin-left: 0px;
margin-right: 0px;
padding-left:0px;
  height: auto;
  width: auto;
  align-items: center;
    place-content: start space-evenly;
  background-color: chocolate;
  display: flex;

    
padding-top: 15px;
padding-bottom: 15px;
box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}
.navbar button{
  width: 100px;
   height: max-content;
  background-color:whitesmoke;
  border: none;
  outline: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
